<div class="row">
	<div class="col-md-6 col-md-offset-3">
	<h2>Log in</h2>
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div class="form-inputs">
	    <%= f.input :email, required: false, autofocus: true, input_html: { class: 'form-control' } %>
	    <%= f.input :password, required: false, input_html: { class: 'form-control' } %><br/>
	    <%= f.input :remember_me, as: :boolean, class: 'form-control'  if devise_mapping.rememberable? %>
	    <br/>
	  </div>


	  <div class="form-actions">
	    <%= f.button :submit, "Log in", class: "btn btn-primary" %>
	  </div>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>	
</div>

<h2>Log in</h2>


